<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--header:可重复使用的元素，用于指定标题等重要元素-->
    <header>
        <!--hgroup:对标题进行分组，在hgroup或者article里都可以包含一个h1-->
        <hgroup>
            <h1>My Site Name</h1>
            <h2>My Site Slogan</h2>
        </hgroup>
        <!--nav:主要导航区域，如主导航区域或者内容目录-->
        <nav>
            <ul>
                <!--Main Site Nav Here-->
            </ul>
        </nav>
    </header>
    <nav>
        <h1>Links Heading</h1>
        <url>
            <!--Sidebar links-->
        </url>
    </nav>
<!--section:定义大块的区块，如一个重要的表单，区块可以有自己的header，footer或者nav-->
    <section>
        <!--article: 用来标记独立的可发布内容，如评论，新闻条目等等-->
        <article>
            <header>
                <h1>Blog Post Title</h1>
                <div class="meta">
                    Published by joe on
                    <time datetime="2012-05-01T12:30+00:00">
                        01 May 2012 @ 12:30pm
                    </time>
                </div>
            </header>
            <section>
                <!--Actual blog post-->
            </section>
        </article>
    </section>
<!--footer:页脚，在页面或区块最底部-->
<aside>广告弹框</aside>
<mark>高亮文本</mark>
<footer>
    <ul>
        <!--Footer Links-->
        <!--Copyright info-->
    </ul>
</footer>
</body>
</html>