<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../../../static/pack/js/core/vue.js"></script>
</head>
<body>
<fieldset>
    <legend>插值</legend>
    <ul>
        <li>
            <label id="label1">
                {{lab_text}}
            </label>
            <p id="p1">{{text1}}</p>
        </li>

    </ul>
</fieldset>
<fieldset>
    <legend>表达式</legend>
    <ul>
        <li>
            <lable>
                在原值基础上除以100
            </lable>
            <p id="p2">{{text2/100}}</p>
        </li>
        <li>
            <label>条件判断，使用三元运算符：</label>
            <p id="p3">{{text3?1:0}}</p>
        </li>
        <li>
            <label>分割字符串</label>
            <p id="p4">{{example.split(",")}}</p>
        </li>
    </ul>
</fieldset>
<fieldset>
    <legend>v-if</legend>
    <ul>
        <li>
            <label>控制元素渲染和移除：</label>
            <div id="v-if1">
                <p v-if="greeting">Hello,Im v-if!</p>
            </div>
        </li>
        <li>
            <label>控制多个元素</label>
            <div id="v-if2">
                <template v-if="ok">
                    <p>Hello Jams!</p>
                    <p>Hello copy!</p>
                </template>
            </div>

        </li>
    </ul>
</fieldset>
<fieldset>
    <legend>v-show</legend>
    <li>
        <label>控制元素显示和隐藏</label>
        <div id="v-show1">
            <p v-show="greeting">Hello,Im v-Show!</p>
        </div>
    </li>
</fieldset>
<fieldset>
    <legend>if else条件化渲染</legend>
    <ul>
        <li>
            <label>v-if和v-else</label>
            <div id="boolean1">
                <p v-if="ok">我是对的！</p>
                <p v-else="ok">我是错的！</p>
            </div>
        </li>
        <li>
            <label>v-show的if-else</label>
            <div id="boolean2">
                <p v-show="ok">我显示了！</p>
                <p v-show="!ok">我隐藏了！</p>
            </div>
        </li>
    </ul>
</fieldset>
<fieldset>
    <legend>v-model</legend>
    <div id="v-model1">
    <form>
    <ul>
        <li>
            <label>姓名：</label>
            <input type="text" v-model="d.name">
        </li>
        <li>
            <label>性别：</label>
            <input type="radio" id="man" value="1" v-model="d.sex">
            <label for="man">男</label>
            <input type="radio" id="male" value="2" v-model="d.sex">
            <label for="male">女</label>
        </li>
        <li>
            <label>兴趣：</label>
            <input type="checkbox" id="book" value="book" v-model="d.interest">
            <label for="book">阅读</label>
            <input type="checkbox" id="swim" value="swim" v-model="d.interest">
            <label for="swim">游泳</label>
            <input type="checkbox" id="game" value="game" v-model="d.interest">
            <label for="game">游戏</label>
            <input type="checkbox" id="song" value="song" v-model="d.interest">
            <label for="song">唱歌</label>
        </li>
        <li>
            <label>身份：</label>
            <select v-model="d.identity">
                <option value="1">老师</option>
                <option value="2">医生</option>
                <option value="3">警察</option>
            </select>
        </li>
        <li>
            <label>lazy:</label>
            <!--当lay的值改变时才加载该值-->
            <input v-model="d.lay" lazy>
            <p>{{msg}}</p>
        </li>
        <li>
            <label>debounce:</label>
            <!--5秒后加载该值-->
            <input v-model="d.msg" debounce="5000">
            <p>{{msg}}</p>
        </li>
    </ul>
    </form>
    </div>
</fieldset>
<fieldset>
    <legend>v-for</legend>
    <ul id="ul1">
        <li v-for="(item,index) in items">
            {{ parentMessage }} - {{ index }} -  {{item.msg}}
        </li>
    </ul>
    <!--通过template模板迭代,并使用Object取值-->
    <ul id="ul2">
        <template v-for="(value, key, index) in object">
          <li>{{ index }}. {{ key }} : {{ value }}</li>
        </template>
    </ul>
</fieldset>
<fieldset>
    <legend>v-bind</legend>
    <ul>
        <li id="bind1">
            <div v-bind="{id:someProp,display:isShow}"></div>
        </li>
    </ul>
</fieldset>
<fieldset>
    <legend>v-on</legend>
    <div id="example-2">
        <!-- `greet` 是在下面定义的方法名 -->
        <button v-on:click="greet">Greet</button>
    </div>
</fieldset>
<!--插值-->
<script>
    var label1=new Vue({
        el:'#label1',
        data:{
            lab_text:'测试label1:'
        }
    })
    var input1=new Vue({
        el:'#p1',
        data:{
            text1:'测试文本'
        }
    })
</script>
<!--表达式-->
<script>
    var text2=new Vue({
        el:'#p2',
        data:{
            text2:200
        }
    })
    var text3=new Vue({
        el:'#p3',
        data:{
            text3:false
        }
    })
    var example1=new Vue({
        el:'#p4',
        data:{
            example:'a,b,c,d,e'
        }
    })
</script>
<!--指令-->
<script>
    /**
     * v-if
     */
   var vif=new Vue({
       el:'#v-if1',
       data:{
        greeting:true
       }
   })
    var vif2=new Vue({
        el:'#v-if2',
        data:{
            ok:false
        }
    })
    /**
     * v-show
     */
    var show1=new Vue({
        el:'#v-show1',
        data:{
            greeting:false
        }
    })
    var boolean1=new Vue({
        el:'#boolean1',
        data:{
            ok:false
        }
    })
    var boolean2=new Vue({
        el:'#boolean2',
        data:{
            ok:false
        }
    })
    /**
     * v-model
     */
    new Vue({
        el:'#v-model1',
        data:{
            d:{
                name:"tom",
                sex:"1",
                identity:'2',
                interest:['book'],
                msg:'5秒后内容才改变！'
            }
        }
    })
    /**
     * v-for
     */
    var ul1=new Vue({
      el:'#ul1',
      data:{
          parentMessage: 'Parent',
          items:[
              {msg:'a滴滴顺风车'},
              {msg:'b滴滴专车'}
          ]
      }
    })
    //通过set改变值
    Vue.set(ul1.items,0,{msg:'滴滴顺风车改变'});

    new Vue({
        el: '#ul2',
        data: {
            object: [{
                FirstName: 'John',
                LastName: 'Doe',
                Age: 30
            },{
                FirstName: 'Mari',
                LastName: 'Tom',
                Age: 18
    }]
        }
    })
    /**
     * v-bind
     */
    new Vue({
        el:'#bind1',
        data:{
            someProp:'vs1',
            isShow:'none'
        }
    })
</script>
//事件
<script>
    var example2 = new Vue({
        el: '#example-2',
        data: {
            name: 'Vue.js'
        },
        // 在 `methods` 对象中定义方法
        methods: {
            greet: function (event) {
                // `this` 在方法里指当前 Vue 实例
                alert('Hello ' + this.name + '!')
                // `event` 是原生 DOM 事件
                alert(event.target.tagName)
            }
        }
    })
</script>
</body>
</html>