<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../../static/js/core/browser.min.js"></script>
</head>
<body>
<script type="text/babel">
    var obj={
        getName(firstName,lastName){
            //相当于 {firstName:firstName,lastName:lastName}
            return {firstName,lastName}
        },
        get name(){
            return this.name;
        },
        set name(name){
            this.name=name;
        }
    }
    console.log(obj.getName("tom","jack"));
</script>
</body>
</html>