<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="container">
    </div>
    <div id="div1">

    </div>
    <script src="../../../static/js/react.js"></script>
    <script src="../../../static/js/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
<script type="text/babel">
    class ExampleApplication extends React.Component {
        render() {
            var elapsed = Math.round(this.props.elapsed  / 100);
            var seconds = elapsed / 10 + (elapsed % 10 ? '' : '.0' );
            var message =
                `React has been successfully running for ${seconds} seconds.`;

            return <p>{message}</p>;
        }
    }
    var start = new Date().getTime();
    setInterval(() => {
        ReactDOM.render(
                <ExampleApplication elapsed={new Date().getTime() - start} />,
            document.getElementById('container')
        );
    }, 50);
</script>
<script type="text/babel">
    class Button extends React.Component{
        constructor(props){
            super(props);
        }
        render(){
            const{color,text}=this.props;
            return <button className="{'btn btn-${color}'}">
                    <em>{text}</em>
                 </button>
        }
    }
    Button.defaultProps={
        color:'blue',
        text:'Confirm',
    }
    ReactDOM.render(
        <Button/>,
        document.getElementById('div1')
    )
</script>
</body>
</html>