<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="browser-view">
    <header><h1>Supper HTML5 Editor</h1></header>
    <section id="list">
        <h1>File Browser</h1>
        <details open id="filedrop">
            <summary>Create File</summary>
            <form name="create">
                <div>
                    <h2>Create an empty file</h2>
                    <input type="text" name="name" placeholder="e.g.index.html">
                        <input type="submit" value="Create">
                </div>
            </form>
            <div class="spacer">OR</div>
            <form name="import">
                <div>
                    <h2>Import existing file(s)</h2>
                    <input type="file" name="files" multiple accept="text/html">
                    <input type="submit" value="Import">
                </div>
            </form>
            <div class="note">
                <strong>Note</strong>:You can drag files From your computer and drop them anywhere in this box to import them into the application
            </div>
        </details>
        <details open>
            <summery>My Files</summery>
            <div class="note top">
                You currently have<span id="file_count">0</span>file(s)
            </div>
            <ul id="files"></ul>
            <div class="note">
                <strong>Note</strong>:You can drag any of the files in the list above to your computer to export them form the application
            </div>
        </details>
    </section>
    <section id="editor">
        <h1>Editing<span id="file_name"></span><a href="#list">Back to File Browser</a></h1>
        <div class="mode-toolbar">
            <div class="left">
                <div>Edit Mode:</div>
                <button id="edit_visual" class="split_left active">Visual</button>
                <button id="edit_html" class="split_right">HTML</button>
            </div>
            <div class="right">
                <button id="file_save" class="green">Save File</button>
                <button id="file_preview">Save &amp;Preview</button>
            </div>
        </div>
        <detail open>
            <summary>File Contents</summary>
            <div id="file_contents">
                <div id="file_contents_visual">
                    <div id="file_contents_visual_toolbar">
                        <button data-command="bold"><strong>B</strong></button>
                        <button data-command="italic"><strong>I</strong></button>
                        <button data-command="underline"><strong>U</strong></button>
                        <button data-command="strikethrough"><strong>S</strong></button>
                        <button data-command="insertUnorderedList"><strong>List</strong></button>
                        <button data-command="createLink"><strong>Link</strong></button>
                        <button data-command="unlink"><strong>Unlink</strong></button>
                        <button data-command="insertImage"><strong>Image</strong></button>
                        <button data-command="insertMap"><strong>Location Map</strong></button>
                    </div>
                    <iframe id="file_contents_visual_editor"></iframe>
                </div>
                <div id="file_contents_html">
                    <textarea id="file_contents_html_editor"></textarea>
                </div>
            </div>
        </detail>
    </section>
<script>
    (function(){
        var SuperEditor=function () {
            var view,fileName,isDirty=false,
                unsavedMsg='Unsaved changes will be lost,Are you sure',
                unsavedTitle='Discard changes';
            var markDirty=function () {
                isDirty=true;
            }
            var markClean=function () {
                isDirty=false;
            };
            var checkDirty=function () {
                if(isDirty){
                    return unsavedMsg;
                }
            }
            window.addEventListener('beforeunload',checkDirty,false);
            var jump=function (e) {
                var hash=location.hash;
                if(hash.indexOf('/')>-1){
                    var parts=hash.aplit("/"),
                        fileNameEl=document.getElementById('file_name');
                    view=part[0].substring(1)+'-view';
                    fileName=parts[1];
                    fileNameEl.innerHTML=fileName;
                }else{
                    if(!isDirty||confirm(unsavedMsg,unsavedTitle)){
                        markClean();
                        view='browser-view';
                        if(hash!='#list'){
                            location.hash='#list';
                        }
                    }else{
                        location.href=e.oldURL;
                    }
                }
                document.body.className=view;
            };
            jump();
            window.addEventListener('hashchange',jump,false);
            var editVisualButton=document.getElementById('edit_visual'),
                visualView=document.getElementById('file_contents_visual'),
                visualEditor=document.getElementById('file_contents_visual_editor'),
                visualEditorDoc=visualEditor.contentDocument,
                editHtmlButton=document.getElementById('edit_html'),
                htmlView=document.getElementById('file_contents_html'),
                htmlEditor=document.getElementById('file_contents_html_editor');
            visualEditorDoc.designMode='on';
            visualEditorDoc.addEventListener('keyup',markDirty,false);
            htmlEditor.addEventListener('keyup',markDirty,false);
            var updateVisualEditor=function(content){
                visualEditorDoc.open();
                visualEditorDoc.write(content);
                visualEditorDoc.close();
                visualEditorDoc.addEventListener('keyup',markDirty,false);
            };
            var updateHtmlEditor=function (content) {
                htmlEditor.value=content;
            };
            var toggleActiveView=function () {
                if(htmlView.style.display=='block'){
                    editVisualButton.class='split_left active';
                    visualView.style.display='block';
                    editHtmlButton.className='split_right';
                    htmlView.style.display='none';
                    updateVisualEditor(htmlEditor.value);
                }else{
                    editHtmlButton.className='split_right active';
                    htmlView.style.display='block';
                    editVisualButton.className='split_left';
                    visualView.style.display='none';
                    var x=new XMLSerializer();
                    var content=x.serializeToString(visualEditorDoc);
                    updateHtmlEditor(content);
                }
            }
            editVisualButton.addEventListener('click',toggleActiveView,false);
            editHtmlButton.addEventListener('click',toggleActiveView,false);
        };
        var init =function () {
            new SuperEditor();
        }
        window.addEventListener('load',init,false);
    })
</script>
</body>
</html>