<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="register" id="registerForm">
    <fieldset>
        <legend>Register</legend>
        <ul>
            <li>
                <label>
                    <div>UserName</div>
                    <input type="text" name="userName" required pattern="[a-z0-9]{5,10}" autofocus placeholder="请输入5-10位数字或字母">
                </label>
            </li>
            <li>
                <label>
                    <div>Password</div>
                    <input tye="password" name="password" required pattern="[a-z0-9]{6}" placeholder="请输入六位数字或字母">
                </label>
            </li>
            <li>
                <label>
                    <div>PasswordSecond</div>
                    <input type="password" name="passwordSecond" required pattern="[a-z0-9]{6}" placeholder="请输入六位数字或字母">
                </label>
            </li>
            <li>
                <label>
                    <div>Address</div>
                    <input name="address" list="city">
                    <datalist id="city">
                        <option>北京</option>
                        <option>上海</option>
                        <option>山东</option>
                        <option>黑龙江</option>
                        <option>河北</option>
                        <option>河南</option>
                        <option>安徽</option>
                    </datalist>
                </label>
            </li>
            <li>
                <label>
                    <div>Age</div>
                    <input type="number" min="0" step="1" max="99">
                </label>
            </li>
            <li>
                <label>
                    <div>Tel</div>
                    <input type="tel" pattern="[0-9]{11}">
                </label>
            </li>
            <li>
                <label>
                    <div>Email</div>
                    <input type="email">
                </label>
            </li>
            <li>
                <label>
                    <div>Date Of Birth</div>
                    <input type="datetime-local">
                </label>
            </li>
            <li>
                <label>
                    <details>
                        <summary>提示</summary>
                        以下信息，只有好人可见
                    </details>
                </label>
            </li>
        </ul>
    </fieldset>
    <input type="submit" value="提交">
    <input type="submit" value="保存" formnovalidate formaction="save">
</form>
<script>
    var doCustomValidity=function(field,msg){
        field.setCustomValidity(msg);
    }
    var formValidity=function () {
        doCustomValidity(registerForm.passwordSecond,"");
        if(registerForm.password.value!=registerForm.passwordSecond.value){
            doCustomValidity(registerForm.passwordSecond,"两次密码输入不一致");
        }
    }
    registerForm.addEventListener("input",formValidity,false);
    registerForm.addEventListener("keyup",formValidity,false);
    var ch=function () {
        return("关不掉");
    };
    window.addEventListener('beforeunload',ch,false);
</script>
</body>
</html>