<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../../../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../../../static/js/stomp/stomp.js"></script>
</head>
<body>
<fieldset>
    <legend>Stomp测试</legend>
    <div>
        <label>接收消息:</label>
        <input type="text" id="received">
        <label>发送消息:</label>
        <input type="text" id="message">
        <input type="button" value="连接" id="connect">
        <input type="button" value="断开" id="close">
        <input type="button" value="发送" id="send">
    </div>
</fieldset>
<script></script>
<script>
    var url="ws://"+window.location.host+'/stompServer';
    var stomp=null;
    $("#connect").click(function () {
        var sock = new WebSocket(url);
        stomp=Stomp.over(sock);
        stomp.connect('guest','guest',function (frame) {
            console.log("stomp已连接!");
            //接收服务器的消息，浏览器想接收消息，必须订阅一个目的地
            stomp.subscribe("/topic/hello",function(result){
                //解析JSON字符串
                var myMessage=JSON.parse(result.body);
                console.log("成功接受消息:"+myMessage.message);
            });
            //连接服务器，对应于订阅消息，@Subscribe
            stomp.subscribe("/app/user02",function(result){
                var myMessage=JSON.parse(result.body);
                console.log("成功接受消息:"+myMessage.message);
            });
        });
    })
    $("#close").click(function(){
        if(stomp!=null){
            stomp.disconnect();
            console.log("stomp连接已关闭!")
        }
    })
    $("#send").click(function(){
        var message=$("#message").val();
        var data=JSON.stringify({'message':message});
        stomp.send("/app/user01",{},data);
    })
</script>
</body>
</html>