<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../../../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../../../static/js/stomp/stomp.js"></script>
</head>
<body>
<fieldset>
    <legend>Stomp测试</legend>
    <div>
        <label>接收消息:</label>
        <input type="text" id="received">
        <label>发送消息:</label>
        <input type="text" id="message">
        <input type="button" value="连接" id="connect">
        <input type="button" value="断开" id="close">
        <input type="button" value="发送1" id="send1">
        <input type="button" value="发送2" id="send2">
    </div>
</fieldset>
<script></script>
<script>
    var url="ws://"+window.location.host+'/stompServer';
    var stomp=null;
    $("#connect").click(function () {
        var sock = new WebSocket(url);
        stomp=Stomp.over(sock);
        stomp.connect('guest','guest',function (frame) {
            console.log("stomp已连接!");
        });
    })
    $("#close").click(function(){
        if(stomp!=null){
            stomp.disconnect();
            console.log("stomp连接已关闭!")
        }
    })
    $("#send1").click(function(){
        var message=$("#message").val();
        var data=JSON.stringify({'payload':message});
        stomp.send("/app/user01",{},data);
    })
    $("#send2").click(function(){
        var message=$("#message").val();
        var data=JSON.stringify({'payload':message});
        stomp.send("/app/user02",{},data);
    })
</script>
</body>
</html>