<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../../static/pack/js/core/react.js"></script>
    <script src="../../../../static/pack/js/core/react-dom.js"></script>
    <script src="../../../../static/pack/js/core/browser.min.js"></script>
</head>
<body>
<div id="container">
</div>
<div id="example1"></div>
<script type="text/babel" >
    class Test extends  React.Component{
        constructor(props){
            super(props);
            this.state={
                age:18
            }
        };
        render(){
            return <div>my name is {this.props.name}</div>
        }
    };
    Test.defaultProps={
        name:"Tom"
    }
    ReactDOM.render(<Test/>,document.getElementById("container"));
</script>
</body>
</html>